@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black;
}

.border-hue {
  @apply border-2;
  animation: border-hue 10s linear infinite;
}

/* border hue gradient animation */
@keyframes border-hue {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  25% {
    border-color: yellow;
  }
  50% {
    border-color: hsl(180, 100%, 50%);
  }
  75% {
    border-color: hsl(270, 100%, 50%);
  }
  100% {
    border-color: hsl(360, 100%, 50%);
  }
}

/* All delay classes will take half the time to start */
:root {
  --animate-delay: 0.2s;
}
